bin/
build/
indexes/
lib/
log/
parliament-test.log
/.gradle/
/.project
/.settings/
/build.properties
/dependencies/

/doc/**/missfont.log
/doc/**/*.acr
/doc/**/*.aux
/doc/**/*.bbl
/doc/**/*.bcf
/doc/**/*.blg
/doc/**/*.lof
/doc/**/*.log
/doc/**/*.lot
/doc/**/*.out
/doc/**/*.run.xml
/doc/**/*.synctex.gz
/doc/**/*.synctex(busy)
/doc/**/*.toc

/jena/JosekiExtensions/src/com/bbn/parliament/jena/joseki/bridge/configuration/vocab/
/jena/JenaGraph/*.log*
*.log*
/jena/JenaGraph/test-kb-data/
/Parliament/AdminClient/.settings/language.settings.xml
/Parliament/AdminClient/Debug_with_Linux GCC/
/Parliament/AdminClient/Debug_with_MacOSX GCC/
/Parliament/KbCore/.settings/language.settings.xml
/Parliament/KbCore/Debug_with_Linux GCC/
/Parliament/KbCore/Debug_with_MacOSX GCC/
/Parliament/KbCore/parliament/generated/
/Parliament/Test/.settings/language.settings.xml
/Parliament/Test/Debug_with_Linux GCC/
/Parliament/Test/Debug_with_MacOSX GCC/
/Parliament/Test/ParliamentKbConfig.txt
/Parliament/Test/ParliamentLogConfig.txt
/target/

