.DS_Store
.gradle/
bin/
build/
/build.properties
/dependencies/
lib/

/.project
/.settings/
/jena/OntologyBundle/.classpath
/jena/OntologyBundle/.project
/jena/OntologyBundle/.settings/
/jena/OntologyDrivenDataAccess/.classpath
/jena/OntologyDrivenDataAccess/.project
/jena/OntologyDrivenDataAccess/.settings/
/jena/OntologyDrivenDataAccess/odda.pdf
/jena/OntologyPackager/.classpath
/jena/OntologyPackager/.project
/jena/OntologyPackager/.settings/
/jena/QueryBuilder/.classpath
/jena/QueryBuilder/.project
/jena/QueryBuilder/.settings/
/server/.classpath
/server/.project
/server/.settings/

/doc/**/missfont.log
/doc/**/*.acr
/doc/**/*.aux
/doc/**/*.bbl
/doc/**/*.bcf
/doc/**/*.blg
/doc/**/*.lof
/doc/**/*.log
/doc/**/*.lot
/doc/**/*.out
/doc/**/*.run.xml
/doc/**/*.synctex.gz
/doc/**/*.synctex(busy)
/doc/**/*.toc

/jena/JosekiExtensions/src/com/bbn/parliament/jena/joseki/bridge/configuration/vocab/
*.log*
/Parliament/AdminClient/.settings/language.settings.xml
/Parliament/AdminClient/Debug_with_Linux GCC/
/Parliament/AdminClient/Debug_with_MacOSX GCC/
/Parliament/KbCore/.settings/language.settings.xml
/Parliament/KbCore/Debug_with_Linux GCC/
/Parliament/KbCore/Debug_with_MacOSX GCC/
/Parliament/KbCore/parliament/generated/
/Parliament/Test/.settings/language.settings.xml
/Parliament/Test/Debug_with_Linux GCC/
/Parliament/Test/Debug_with_MacOSX GCC/
/Parliament/Test/ParliamentKbConfig.txt
/Parliament/Test/ParliamentLogConfig.txt
/target/
