bin/
lib/
log/

/build.properties
/dependencies/
/doc/UserGuide/acronyms.tex
/doc/UserGuide/ParliamentUserGuide.aux
/doc/UserGuide/ParliamentUserGuide.bbl
/doc/UserGuide/ParliamentUserGuide.bcf
/doc/UserGuide/ParliamentUserGuide.blg
/doc/UserGuide/ParliamentUserGuide.lof
/doc/UserGuide/ParliamentUserGuide.log
/doc/UserGuide/ParliamentUserGuide.lot
/doc/UserGuide/ParliamentUserGuide.out
/doc/UserGuide/ParliamentUserGuide.run.xml
/doc/UserGuide/ParliamentUserGuide.synctex.gz
/doc/UserGuide/ParliamentUserGuide.toc
/doc/UserGuide/references.bib
/jena/JosekiExtensions/src/com/bbn/parliament/jena/joseki/bridge/configuration/vocab/
/Parliament/AdminClient/.settings/language.settings.xml
/Parliament/AdminClient/Debug_with_Linux GCC/
/Parliament/AdminClient/Debug_with_MacOSX GCC/
/Parliament/KbCore/.settings/language.settings.xml
/Parliament/KbCore/Debug_with_Linux GCC/
/Parliament/KbCore/Debug_with_MacOSX GCC/
/Parliament/KbCore/parliament/generated/
/Parliament/Test/.settings/language.settings.xml
/Parliament/Test/Debug_with_Linux GCC/
/Parliament/Test/Debug_with_MacOSX GCC/
/Parliament/Test/ParliamentConfig.txt
/target/
