[Unit]
Description=Parliament service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=USERNAME
ExecStart=DIRECTORY/StartParliamentDaemon.sh start
ExecStop=DIRECTORY/StartParliamentDaemon.sh stop

[Install]
WantedBy=multi-user.target
