[Unit]
Description=Parliament service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=USERNAME
ExecStart=DIRECTORY/StartParliamentDaemon.sh
# Is there a special command or interaction necessary to turn off the Parliament daemon?
# ExecStop=???

[Install]
WantedBy=multi-user.target
